<!-- this #variable is called a "template reference variable" -->
<section class="py-5 container login-form-container">
  <h2 class="form-title">Login</h2>
  <form
    #loginForm="ngForm"
    (ngSubmit)="login()"
    autocomplete="off"
    class="login-form"
  >
    <label for="login-username" class="form-label">Username</label>
    <input
      type="text"
      [(ngModel)]="model.username"
      class="form-control"
      id="login-username"
      name="username"
    />

    <label for="login-password" class="form-label">Password</label>
    <input
      type="password"
      [(ngModel)]="model.password"
      class="form-control"
      id="login-password"
      name="password"
    />

    <button
      type="submit"
      class="btn btn-primary login-btn"
      [disabled]="!(model.username && model.password)"
    >
      Login
    </button>
  </form>
</section>
