<nav class="navbar">
  <div class="navTitle">
    <a class="navLink" href="#">BonsComptes</a>
  </div>
      <!-- <li class="nav-item" class="dropdown-item">
        <a
          class="nav-link"
          routerLink="/errors"
          routerLinkActive="active"
        >
          Errors
        </a>
      </li> -->
      <!--  this should only appear to a logged in user -->
      <ng-container *ngIf="user">
        <div class="btn-group" dropdown>
          <ng-container *ngIf="user">
            <p>Welcome {{user.username | titlecase }}</p>
          </ng-container>
          <button
            id="button-basic"
            dropdownToggle
            type="button"
            class="btn btn-info dropdown-toggle"
            aria-controls="dropdown-basic"
          >
            Menu <span class="caret"></span>
          </button>

          <ul
            class="navbar-nav me-auto mb-2 mb-md-0"
            role="menu"
            *dropdownMenu
            class="dropdown-menu dropdown-menu-right"
          >
            <li class="nav-item" class="dropdown-item">
              <a
                class="nav-link"
                routerLink="/campaigns"
                routerLinkActive="active"
              >
                Campaigns
              </a>
            </li>
            <li class="nav-item" class="dropdown-item">
              <a
                class="nav-link"
                routerLink="/new-campaign"
                routerLinkActive="active"
              >
                New Campaign
              </a>
            </li>
            <li class="nav-item" class="dropdown-item">
              <a
                class="nav-link"
                routerLink="/expenses"
                routerLinkActive="active"
              >
                Expenses
              </a>
            </li>
            <li class="nav-item" class="dropdown-item">
              <a
                class="nav-link"
                routerLink="/friends"
                routerLinkActive="active"
              >
                Friends
              </a>
            </li>
            
            <li
              *ngIf="accountService.currentUser$ | async"
              class="nav-item"
              class="dropdown-item"
              (click)="logout()"
            >
              <a class="nav-link" href="#"> Logout </a>
            </li>
          </ul>
        </div>
      </ng-container>
    </nav>
