<div class="container nav-container">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BonsComptes</a>

      <!--  this should only appear to a logged in user -->
        <div class="btn-group" dropdown>
          <button
            id="button-basic"
            dropdownToggle
            type="button"
            class="btn btn-info dropdown-toggle"
            aria-controls="dropdown-basic"
          >
            Menu <span class="caret"></span>
          </button>

          <ul
            class="navbar-nav me-auto mb-2 mb-md-0"
            role="menu"
            *dropdownMenu
            class="dropdown-menu dropdown-menu-right"
          >
            <li class="nav-item" class="dropdown-item">
              <a class="nav-link" href="#"> My Campaigns </a>
            </li>
            <li class="nav-item" class="dropdown-item">
              <a class="nav-link" href="#"> New Campaign </a>
            </li>
            <li class="nav-item" class="dropdown-item" (click)="logout()">
              <a class="nav-link" href="#"> Logout </a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
</div>
