<!-- this #variable is called a "template reference variable" -->

<div class="loginPage">
  <div class="formTitle">
    <h2>Bicount</h2>
  </div>
  <form #loginForm="ngForm" autocomplete="off" class="loginForm">
    <div class="formGroup">
      <label for="login-email" class="inputLabel">Email</label>
      <input
        type="text"
        [(ngModel)]="model.email"
        #currentUsername
        class="formInput"
        id="login-email"
        name="email"
        />
      </div>
      
      <div class="formGroup">
        <label for="login-password" class="inputLabel">Password</label>
        <input
        type="password"
        [(ngModel)]="model.password"
        class="formInput"
        id="login-password"
        name="password"
      />
    </div>

    <button
      type="submit"
      class="btn signInBtn"
      (click)="login()"
    >
      Log In
    </button>

    <button
      (click)="goToSignUp()"
      type="reset"
      class="btn signupBtn"
    >
      Sign Up
    </button>
  </form>
</div>
