<!-- this #variable is called a "template reference variable" -->

<div class="loginPage">
  <form #loginForm="ngForm" autocomplete="off" class="loginForm">
    <h2 class="form-title">Login</h2>
    <div class="form-group">
      <label for="login-username" class="form-label">Username</label>
      <input
        type="text"
        [(ngModel)]="model.username"
        #currentUsername
        class="form-control"
        id="login-username"
        name="username"
      />
    </div>

    <div class="form-group">
      <label for="login-password" class="form-label">Password</label>
      <input
        type="password"
        [(ngModel)]="model.password"
        class="form-control"
        id="login-password"
        name="password"
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!(model.username && model.password)"
      (click)="login()"
    >
      Log In
    </button>

    <button
      (click)="goToSignUp()"
      type="reset"
      class="btn signupBtn"
    >
      Sign Up
    </button>
  </form>
</div>
